<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caao.com"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="11"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
      below permission is needed to check the phone
      connectivity
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.settings.APN_SETTINGS" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.PlantListActivity"
            android:configChanges="locale"
            android:label="@string/app_name" />
        <activity
            android:name=".tabs.EventNotificationActivity"
            android:configChanges="locale"
            android:label="@string/app_name" />
        <activity
            android:name=".tabs.WikiActivity"
            android:configChanges="locale"
            android:label="@string/app_name" />
        <activity
            android:name=".settingsactivities.AccountSettingsActivity"
            android:configChanges="locale" />
        <activity
            android:name=".settingsactivities.NotificationSettingsActivity"
            android:configChanges="locale" />
        <activity
            android:name=".settingsactivities.AdvancedSettings"
            android:configChanges="locale" />
        <activity
            android:name=".settingsactivities.LangLocSettings"
            android:configChanges="locale" />
        <activity
            android:name=".tabs.CalendarActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.exina.android.calendar.date" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.exina.android.calendar.date" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.Service"
            android:icon="@drawable/icon_organic_cotton"
            android:label="@string/service_label" />
    </application>
</manifest>
