<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="caao.com"
  android:versionCode="1"
  android:versionName="1.0"
  android:installLocation="auto"
>
  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="8" android:maxSdkVersion="15"/>
  <uses-permission
    android:name="android.permission.INTERNET"
  ></uses-permission>
  <!--
    below permission is needed to check the phone
    connectivity
  -->
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE"
  ></uses-permission>
  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name"
  >
    <activity
      android:label="@string/app_name"
      android:name="Main_activity"
      android:configChanges="locale"
    >
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/app_name"
      android:name="Settings_activity"
      android:configChanges="locale"
    >
      <intent-filter>
        <action
          android:name="android.settings.APN_SETTINGS"
        ></action>
        <category
          android:name="android.intent.category.PREFERENCE"
        ></category>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/app_name"
      android:name=".tabs.Calendar_Activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:label="@string/app_name"
      android:name=".tabs.Plant_list_Activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:label="@string/app_name"
      android:name=".tabs.Event_Notification_Activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:label="@string/app_name"
      android:name=".tabs.Wiki_Activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:name=".settings_activities.Account_settings_Activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:name=".settings_activities.Notification_settings_activity"
      android:configChanges="locale"
    ></activity>
    <activity
      android:name=".settings_activities.Advanced_settings"
      android:configChanges="locale"
    ></activity>
    <activity
      android:name=".settings_activities.Lang_and_loc_Settings"
      android:configChanges="locale"
    ></activity>
    <activity
      android:name=".tabs.calendar.CalendarActivity"
      android:configChanges="locale"
    >
      <intent-filter>
        <action
          android:name="android.intent.action.PICK" />
        <category
          android:name="android.intent.category.DEFAULT" />
        <data
          android:mimeType="vnd.android.cursor.dir/vnd.exina.android.calendar.date" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW" />
        <category
          android:name="android.intent.category.DEFAULT" />
        <data
          android:mimeType="vnd.android.cursor.dir/vnd.exina.android.calendar.date" />
      </intent-filter>
    </activity>
    <service
      android:name=".service.caao_service"
      android:label="@string/service_label"
      android:icon="@drawable/icon_organic_cotton"
    ></service>
  </application>
</manifest>