H1 {
    border: 1px solid #ABA2CF;
    padding: 4px;
    color: #2C1E67;
    background-color: #CECEE5;
}

H2 {
    border: 1px solid #CDCDDA;
    background-color: #E4E4F4;
    padding: 0px 0px 0px 25px;
}

LI {
    color: #000000;
    font: 1em "Courier New";
}

BODY {
    background: #F7F7F8;
    font: 1em Calibri;
}